# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv TOKEN_TELEGRAM 1568034045:AAFHTwYVcG5qciwaVCLSuXnEph8yJ8upZ1g
SetEnv SECRET_KEY hahahihitok
SetEnv FIREBASE https://thalpa-5066b.firebaseio.com
SetEnv DB_USERNAME sias4638_smt817_v3mw
SetEnv DB_PORT 3306
SetEnv DB_PASSWORD mySMT!@#$%^&
SetEnv DB_HOST 127.0.0.1
SetEnv DB_DATABASE sias4638_smt817_v3mw
SetEnv DB_CONNECTION mysql
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END